[submodule "core/vendor/fmt"]
	path = core/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "core/vendor/emsdk"]
	path = core/vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "core/vendor/megasource"]
	path = core/vendor/megasource
	url = https://github.com/Davidobot/megasource.git
