[submodule "core/vendor/fmt"]
	path = core/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "core/vendor/emsdk"]
	path = core/vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "core/vendor/box2d"]
	path = core/vendor/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "core/vendor/entt"]
	path = core/vendor/entt
	url = https://github.com/skypjack/entt.git
