
.DS_Store
*~
.idea

xcuserdata/
love/platform/xcode/DerivedData/
love/platform/xcode/DerivedData-beta/
love/platform/xcode/.idea

love/build/
mobile/android/love/.cxx/
compile_commands.json

imgui.ini

._*

*.aps

.vscode/ipch
